<nav class="nav-drawer {{#if collapsed}}nav-drawer_collapsed{{/if}} bg-dark">
  <div class="nav-drawer__header">
      <span
              id="{{ chatActiveId }}"
              class="mdi mdi-chat-processing nav-drawer__header-icon h2 {{#if chatActive}}active{{/if}}"
              {{#if collapsed}}hidden{{/if}}
      ></span>
    <span
            id="{{ menuActiveId }}"
            class="mdi mdi-backburger nav-drawer__header-icon h2 {{#unless chatActive}}active{{/unless}}"
            {{#if collapsed}}hidden{{/if}}
    ></span>
    <div class="spacer"></div>
    <span class="mdi {{ activatorTopIcon }} h1 nav-drawer__toggle-icon pointer info"></span>
  </div>
  <hr class="nav-drawer__hr">
  {{#unless chatActive}}
    <ul class="nav-drawer__menu">
      {{#each navList}}
        <li class="nav-drawer__menu-item">
          <a href="{{ this.href }}">
            <span class="mdi {{ this.icon }} h1 info"></span>
            <span class="nav-menu-title info" {{#unless collapsed}}hidden{{/unless}}>{{ this.title }}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  {{/unless}}
  {{#if chatActive}}
    <div class="chat-list">
      {{#each chats}}
        <div class="chat-list__item bg-accent">
          <div class="chat-list__item__avatar">
            <img src="{{this.avatar}}" alt="avatar" />
            <span class="chat-list__item__unread-count">{{this.unread_count}}</span>
          </div>
          <div class="chat-list__item__details">
            <span class="info">{{this.title}}</span>
            <span class="chat-list__item__short-message dark">{{this.last_message.content}}</span>
          </div>
        </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</nav>
