<div class="nav-drawer nav-drawer_collapsed bg-dark">
  {{#unless activatorMiddle}}
    <div style="display: flex; flex-direction: row; align-items: center; margin-top: 15px;">
      <span class="mdi mdi-backburger nav-menu-header-icon h2 accent pointer active" hidden></span>
      <span class="mdi mdi-chat-processing nav-menu-header-icon h2 accent pointer" hidden></span>
      <div class="spacer"></div>
      <span class="mdi {{ activatorTopIcon }} h1 nav-drawer__toggle-top pointer primary"></span>
    </div>
  {{/unless}}
  <ul class="nav-drawer__menu">
    <hr>
    {{#each navList}}
    <li>
        <a href="{{ this.href }}">
            <span class="mdi {{ this.icon }} h1 info"></span>
            <span class="nav-menu-title info" hidden>{{ this.title }}</span>
        </a>
    </li>
    {{/each}}
  </ul>
  {{#if activatorMiddle}}
  <span class="mdi {{ activatorMidIcon }} nav-drawer__toggle-icon nav-drawer__toggle-mid_collapsed accent display-4 nav-drawer__toggle-mid"></span>
  {{/if}}
</div>
