<div class="input-item">
  <label>
    <input
      class="input input_underlined text-right"
      required
      id="{{ id }}"
      name="{{ name }}"
      type="{{ type }}"
      value="{{ value }}"
      {{ readOnly }}
    >
    <span class="input-label">{{ label }}</span>
    <span class="input-helper">{{ helper }}</span>
  </label>
</div>
