<div class="input-item">
  <label>
    {{#with input as | input |}}
      <input
        class="input input_underlined text-right"
        required
        id="{{ input.id }}"
        name="{{ input.name }}"
        type="{{ input.type }}"
        value="{{ input.value }}"
        {{ input.readOnly }}
      >
      <span class="input-label">{{ input.label }}</span>
      <span class="input-helper info">{{ input.helper }}</span>
    {{/with}}
  </label>
</div>
